<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haut.ds.mapper.OrderItemMapper">

    <select id="getFavoriteCategoryIds" resultType="Integer">
        select p.category_id
            from
        order_item o left join product p
        on o.product_id = p.id
        where o.order_id
        in
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
        order by create_time desc
    </select>

</mapper>